
.warning{
  margin-top: 100px;
  border: 2px solid red;
  box-shadow: 5px 8px #ffc107; 
  padding: 25px;
  margin-left: 400px;
  margin-right: 400px;
  color: white;

}
.contact-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;  
} 
.add-contact{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    border: 1px solid rgb(227, 230, 89);
    padding: 25px;
    box-shadow: 5px 8px #ffc107; 
    /* background-color: #ffc107; */
}
.Allcontact{ 
    margin-top: 50px;
    border: 1px solid rgb(227, 230, 89);
    padding: 20px;
    box-shadow: 5px 8px #ffc107; 
}
.view-contact{ 
    margin-top: 50px;
    border: 1px solid rgb(227, 230, 89);
    padding: 20px;
    box-shadow: 5px 8px #ffc107; 
}
 
  .contact-view-img{
    width: 270px;
    height: 270px;
    border-radius: 50%;  
  } 
  /* .contact-search{
    background-color: aliceblue; 
  } */